<form>
<h1>Login To Our Labrary</h1>
<input type="email" name="email" id="email" placeholder="Enter Email">
<input type="password" name="password" id="password" placeholder="Enter Password">
<button type="submit" id="send">send</button>
<p id="msg"></p>
</form>