<form>
<h1>Sign up</h1>
<input type="text" name="name" id="namesign" placeholder="User Name">
<input type="email" name="email" id="emailsign" placeholder="Enter Email">
<input type="password" name="password" id="passwordsign" placeholder="Enter Password">
<input type="password" name="password" id="confirmpasswordsign" placeholder="Confirm Password">
<button type="click" id="sendsign">send</button>
<p id="msgsign"></p>
</form>
